/* The Modal (background) */
body {
  max-width: 500px;
  /* margin: auto; */
}

.modal {
  display: none; /* Hidden by default */
  align-items: center;
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: inline;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: fit-content; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

table,
td {
  border: 1px solid;
  display: flex;
  align-items: center;
  white-space: normal;
}

table {
  border: 1px solid black;
  padding: 5px;
  height: 200px;
  width: fit-content;
  border-radius: 5px;
  background-color: #5996e3;
}

.createPostForm {
  border: 1px solid;
  width: 750px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  width: max-content;
  padding: 15px;
  margin: 20px;
  display: inline-block;
}

#type,
#content,
#endDate {
  margin: 7px;
}

div {
  align-content: center;
  display: inline-block;
  margin: 20px;
}

.logOutButton {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.logOut {
  margin: 20px;
  height: 30px;
  border: solid 2px;
  border-radius: 8px;
}

.titleClass {
  width: 170px;
  height: 50px;
  display: block;
  overflow: auto;
  white-space: nowrap;
  border-radius: 5px;
  background-color: white;
}

.contentClass {
  display: inline-block;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: "normal";
  width: 450px;
  height: 120px;
  border-radius: 5px;
  background-color: white;
}

.updatedClass {
  width: 80px;
  border-radius: 5px;
  background-color: white;
}

.dateClass {
  width: 80px;
  border-radius: 5px;
  background-color: white;
}

.editDeleteButton {
  width: 60px;
  border-radius: 5px;
}
